<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <!-- <link rel="stylesheet" href="../../public/stylesheets/styles.css"> -->
    <script defer src="javascripts/script.js"></script>
    <script defer src="javascripts/carousel.js"></script>
    <!-- <script defer src="javascripts/select-box.js"></script> -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title><%= pageTitle %></title>
</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <%- include('./partials/navbar') %>

        <!-- Conteudo -->

        <div class="feed-container">

            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <%- include('./partials/pageTitle') %>

                <!-- Hendy -->
                <%- include('./partials/hendy') %>
            </header>
            
            <!-- Conteudo Principal -->
            <main>

                <!-- Divisória (parte do Titulo) -->
                <div class="page-title-linha-box"></div>

                <!-- Selecionar período -->
                <div class="cabecalho-periodo">
                    <div class="escolha-periodo">
                        <div class="periodo-text">
                            <span>De</span>
                        </div>
                        <div class="custom-select" id="select-tempo" style="width:200px;">
                            <select>
                            <option value="0">Início</option>
                            <option value="1">Jan/2020</option>
                            <option value="2">Fev/2020</option>
                            <option value="3">Mar/2020</option>
                            <option value="4">Abr/2020</option>
                            <option value="5">Mai/2020</option>
                            <option value="6">Jun/2020</option>
                            <option value="7">Jul/2020</option>
                            <option value="8">Ago/2020</option>
                            <option value="9">Set/2020</option>
                            <option value="10">Out/2020</option>
                            <option value="11">Nov/2020</option>
                            <option value="12">Dez/2020</option>
                            </select>
                        </div>
                        <div class="periodo-text">
                            <span>até</span>
                        </div>
                        <div class="custom-select" id="select-tempo" style="width:200px;">
                            <select>
                                <option value="0">Fim</option>
                                <option value="1">Jan/2020</option>
                                <option value="2">Fev/2020</option>
                                <option value="3">Mar/2020</option>
                                <option value="4">Abr/2020</option>
                                <option value="5">Mai/2020</option>
                                <option value="6">Jun/2020</option>
                                <option value="7">Jul/2020</option>
                                <option value="8">Ago/2020</option>
                                <option value="9">Set/2020</option>
                                <option value="10">Out/2020</option>
                                <option value="11">Nov/2020</option>
                                <option value="12">Dez/2020</option>
                            </select>
                        </div> 
                        <a href="javascript:void(0)" onclick="openModal('novo-achado-perdido')">
                            <button class="btn-group">Novo objeto</button>
                        </a>   
                    </div>
                </div>
                
                <!-- Feed Principal -->
                <section class="lista-enquetes">
                    <% for (let perdido of perdidos) { %>
                    <div class="card ocorr">
                        <header>
                            <div class="user-group">
                                <div class="user-info">
                                    <p>Achados e Perdidos</p>
                                </div>
                            </div>
                            <ol>
                                <li class="post-type">Ocorrência</li>
                                <!-- <li class="enquete-date">20/04/2020</li> -->
                            </ol>
                        </header>
                        <main>
                            <p class="post-text">
                                <%= perdido.post.mensagem%>
                            </p>
                            <% if (perdido.foto) { %>

								<img class="post-img" src="<%=perdido.foto%>" alt="Imagem do post">
							<% } else { %>
							<% } %>
                        </main>
                        <footer>
                            <% if (perdido.status == 1) { %>
                                <ul class="post-info-ocorr">
                                    <img class="oc-status" src="images/icones-mural/Azul/circle.svg" alt="">
                                    <li id="ocurr-análise">Perdido</li>
                                </ul>
                                <div class="btn-group">
                                    <button class="btn-comment" onclick="ocConcluir('<%=perdido.id%>')">Marcar como devolvido</button>
                                </div>
                            <% } else { %>
                                <ul class="post-info-ocorr">
                                    <li><img src="images/icones-mural/Verde/check.svg" alt=""></li>
                                    <li>Devolvido</lin>
                                </ul>
                                <!-- <div class="btn-group">
                                    <button class="btn-comment">Ver resposta</button>
                                </div> -->
                            <% } %>
                        </footer>
                    </div>
                    <% } %>
                    
                </section>

            </main>
        </div>

        <!-- Modais -->
        <div id="open-modal" class="modal">

        <!-- Modal Novo Achado e Perdido -->
        <div id="novo-achado-perdido" class="modalInterno">
            <h1>Novo Objeto</h1>
            <div class="new-foto-mensagem">
                <img src="images/posts-mural/homem-meiaidade-boina.jpg">
                <textarea name="mensagem" id="mensagem" rows="10"></textarea>
            </div>
            <div class="new-foto-categoria">
                <button class="btn-group"><img src="images/icones-mural/Branco/plus.svg"
                    alt="">Foto</button>
            </div>
            <div class="new-cancel-send">
                <button class="cancelar" type="reset">Cancelar</button>
                <button class="enviar-modal-novo" type="submit">Enviar</button>
            </div>
        </div>
    
    </div>
    </div>
</body>
</html>