<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script defer src="javascripts/script.js"></script>
    <script defer src="javascripts/carousel.js"></script>
    <script defer src="javascripts/select-box.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title>Reservas</title>
</head>

<body>
    <!-- DIV PAI DE TODAS -->
    <div class="container">
        <!-- Fundo escuro do modal -->
        <div id="background-modal" onclick="toggleBackgroundModal()"></div>

        <%- include('./partials/navbar') %>

        <!-- Conteudo -->

        <div class="feed-container">

            <!-- Header com Nav, Hendy e Titulo -->
            <header>
                <button class="menu-btn" onclick="openNav()">
                    <img src="images/icones-mural/Cinza/menu.svg" alt="Icone do menu">
                </button>

                <!-- Icone + Titulo da Pagina -->
                <%- include('./partials/pageTitle', {
                    pageTitle: 'Reservas',
                    pageIcon: 'reservas.svg' }) %>

                <!-- Hendy -->
                <%- include('./partials/hendy') %>

            </header>

            <!-- Conteudo Principal -->
            <main>
                <!-- Divisória (parte do Titulo) -->
                <div class="page-title-linha-box"></div>

                <div class="containerReservas">
                    <div class="wrapReservas">

                        <% for(let local of locais) { %>
                        <a href="/reservas-agenda"  class="cardReservas" >
                            <div class = "espacoFoto">
                                <img src="<%=local.foto%>" alt="">                       
                            </div>
                            <div class = "espacoNome">
                                <h2><%=local.nome%></h2>                                
                            </div>
                        </a>
                        <% } %>

                    </div>
                </div>
            </main>


        </div>
    </div>
</body>

</html>